.auth-form {
  width: 25rem;
  max-width: 80%;
  margin: 5rem auto;
}

.form-control label,
.form-control input,
.form-control textarea {
  width: 100%;
  display: block;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control input {
  width: 95%;
  height: 1rem;
  border-radius: 5px;
  border: 1px solid grey;
  font: inherit;
  padding: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
}

.form-actions p {
  text-align: center;
}

.form-actions p span {
  color: #7b82f3;
  cursor: pointer;
}

.form-actions button {
  font: inherit;
  background-color: #7b82f3;
  border: none;
  border-radius: 7px;
  padding: 0.5rem 1.5rem;
  font-size: 0.85rem;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  color: white;
  cursor: pointer;
}

.form-actions button:hover,
.form-actions button:active {
  opacity: 0.8;
}
